@media (max-width: 1440px) {
  .site-header__wrapper {
    padding: 0.5rem 0;
  }
}
@media (max-width: 1025px) {
  .site-header {
    position: fixed;
    background-color: #f47500;
    width: 100%;
    z-index: 6;
    padding: 0 5.56%;
  }

  .brand {
    font-size: 1.44em;
  }

  .brand .brand-logo {
    height: 1.44;
    margin-right: 0.5em;
  }

  .navbar-open {
    display: block;
  }

  .nav__item {
    margin: 0.25rem;
    padding: 0.1rem;
  }

  .nav_book-now-button {
    padding: 0.2rem 1rem;
  }
}

@media (max-width: 768px) {
  .site-header__wrapper {
    width: 100%;

    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: nowrap;
    align-items:baseline;
  }
  .navbar .nav__wrapper {
    /* display: ; */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }
  .nav_book-now-button {
    display: none;
  }
  .nav__toggle {
    display: block;
  }

  .brand {
    font-size: 1.2rem;
  }

  .brand .brand-logo {
    height: 1.2rem;
    margin-right: 0.5em;
  }

  .navbar .nav__wrapper {
    display: none;
    justify-content: center;
    align-items: center;
  }
}
