@media (max-width: 1026px) {
  .hero {
    height: 70vh;
    width: 100%;
    background-position: center 65%;
  }
  .hero__title {
    font-size: 5rem;
  }
}

@media (max-width: 769px) {
  .hero__title {
    font-size: 5rem;
  }
  .hero__subtitle {
    font-size: 1.44em;
    max-width: 300px;
    margin: 0 auto;
  }
  .hero__subtitle {
    font-size: 1.2em;
  }
}

@media (max-width: 577px) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle {
    font-size: 1.1em;
    max-width: 200px;
    margin: 0 auto;
  }
  .hero__subtitle {
    font-size: 1.2em;
  }
}
